# Ignore node_modules
node_modules/

# Ignore log files
*.log

# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose.yml

# Ignore the .git directory
.git/


# Ignore IDE files (VSCode, JetBrains, etc.)
.vscode/
.idea/

# Ignore temporary or build directories
tmp/
build/
dist/

# Ignore other files that aren't needed for the Docker image
*.md
*.txt
*.yml
*.yaml